body{font-family: Tahoma, Arial, Helvetica, sans-serif;}
#body{width:800px;border:1px solid #ccc;}

h1{display:block;padding:0 10px 20px 10px;border-bottom:1px solid #333;font-size:27px;margin:10px;}

.body{font-family: Tahoma, Arial, Helvetica, sans-serif;}
#body{width:800px;border:1px solid #ccc;}

h1{display:block;padding:0 10px 20px 10px;border-bottom:1px solid #333;font-size:27px;margin:10px;}



.info{width:380px;float:left; font-size:12px;margin:30px 10px;border:1px solid #333;padding:5px;}
.info td{padding:3px;}
.c{text-align:center;}
.r{text-align:right;}

.inline{width:780px;;font-size:13px;margin:10px;border-collapse:collapse;}
.inline th{padding:8px;background:#eee;font-weight:normal}
a{text-decoration:none;color:#000;}
.inline td{padding:8px 5px;font-size:12px}
.inline tr{border-bottom:1px solid #ccc;}

.total-price{margin:20px 0;float:right;}
.total-price span{font-weight:bold;margin:0 10px;font-size:18px;}

#total{position:absolute;left:700px;top:15px;background:#fff;border:4px solid #000;color:#000;text-align:center;hegiht:50px;}
#total b{display:block;text-align:center;padding:10px 15px;font-size:30px;}
#total p{padding:3px 5px;font-size:14px;background:#fafafa;border-top:1px solid #ccc;margin:0}

.hide{display: none;}.cst{padding:30px 10px 30px 10px !important;}

.info{width:380px;float:left; font-size:12px;margin:30px 10px;border:1px solid #333;padding:5px;}
.info td{padding:3px;}
.c{text-align:center;}
.r{text-align:right;}

.inline{width:780px;;font-size:13px;margin:10px;border-collapse:collapse;}
.inline th{padding:8px;background:#eee;font-weight:normal}
a{text-decoration:none;color:#000;}
.inline td{padding:8px 5px;font-size:12px}
.inline tr{border-bottom:1px solid #ccc;}

.total-price{margin:20px 0;float:right;}
.total-price span{font-weight:bold;margin:0 10px;font-size:18px;}

#total-quantity, #total{
	position:absolute;top:25px;background:#fff;border:3px solid #000;color:#000;text-align:center;
}

#total{left:710px;}
#total-quantity{left:600px;}
#total-quantity b,#total b{display:block;text-align:center;padding:10px 8px;font-size:28px;}
#total p{padding:3px 5px;font-size:12px;background:#fafafa;border-top:1px solid #ccc;margin:0}

.hide{display: none;}
